*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
}
/* intial nav box */
nav{
    position: fixed;
    width: 60px;
    max-width: 350px;
    height:100vh;
    background-color: #838BC5;
}

#menu_logo{
    color: #ffffff;   
}

#menu_logo p{
    width:100%;
    text-align: center;
}

#menu_logo label{

    display: inline-block;

    line-height: 150px;
    font-size: 50px;

}


#menu_logo input[type=checkbox]{
    display: none;

}


/* menu element initialisation*/

#menu_element{
    font-size: 1.6em;
    display: none;
}
#menu_element ul{
    width: 100%;
    height: 100%;    
}
#menu_element ul li{
    line-height: 80px;
    text-align: center;   
}

#menu_element ul li a{
    color: #ffffff;   
    text-decoration: none;
    font-weight: bolder;
}


#menu_element ul li a:hover{
    color: #65C8D0;
    transition: all .3s;
}
nav #menu_element #active{
    color: #65C8D0;
    font-size:1.2em;
}

/* responsive menu */
@media (max-width:450px){
    #menu_logo label{

        font-size: 40px;
    
    }

    #menu_element{
        font-size: 1.2em;
    }

    #menu_element ul li{
        line-height: 60px;
        text-align: center;   
    }


}

/* corps de page */

#content{
    width: 75%;
    margin: 0 0  0 25%;
    padding-top: 70px;
}

#content h1{
    padding-bottom: 40px;
    width: 80%;
    margin: 0 0  0 10%;
    font-size: 3em;
    color: #65C8D0;
}

#content .content_parti{
    padding-bottom: 40px;
}

#content .content_parti h2{
    padding-bottom: 30px;
    font-size: 2em;
    color: #965096;
}


/* responsive content */
@media (max-width:450px){
    #content h1{
        font-size: 2.7em;
    }
    #content .content_parti h2{
        font-size: 1.7em;
    }

}


table{
    width: 80%;
    border-collapse: collapse;
}

td,tr,th{
    text-align: center;
    border: 2px white solid;

}
th{
    color: #fff;
    background-color: #965096;
    font-size:1.4em;
    line-height:50px;
}

table tr:nth-child(even){
    background-color:#BA9BC9;
    color: #fff;

}
table tr:nth-child(odd){
    background-color:#E6E6E6;
    color: #383838;

}

td{
    font-size:1.2em;
    line-height:40px;

}



